<template>
  <div class="contaier mx-auto mt-5">
    <nav class="navbar content-center">
      <img
        class="mx-auto"
        src="../assets/logo.png"
      >
      <input
        v-model="query"
        type="text"
        placeholder="Buscar película"
        class="border py-1 px-1 rounded focus:outline-none capitalize w-2/3 bg-gray-100"
      >
    </nav>
    <search-results :query="query" />
  </div>
</template>

<script>
import { ref } from 'vue'
import SearchResults from '../components/SearchResults.vue'

export default {
  name: 'Home',
  components: {
    SearchResults,
  },
  setup() {
    const query = ref('')

    return { query }
  },
}
</script>

<style scoped>
input[type='text'] {
  margin-bottom: 20px;
  padding: 10px;
}
</style>
