<template>
  <div class="mt-2">
    <!-- <movie :id="movieId" /> -->
    <single-movie-component :id="movieId" />
  </div>
</template>

<script>
// import Movie from '../components/Movie.vue'
import SingleMovieComponent from '../components/SingleMovieComponent.vue'

export default {
  components: { SingleMovieComponent },
  computed: {
    movieId() {
      const id = parseInt(this.$route.params.slug)

      return id
    },
  },
}
</script>

<style scoped></style>
