<template>
  <div class="root grid grid-cols-2">
    <div
      v-for="movie in filteredMovie"
      :key="movie.id"
      class="mt-5"
      @click="movieDetail(movie.id)"
    >
      <img
        class="mt-3 mx-auto w-9/12 rounded-xl"
        :src="movie.cover_url"
      >
    </div>
  </div>
</template>

<script>
import { computed, reactive, onMounted, toRefs } from 'vue'
import getAllMovies from '../services/getAllMovies'

export default {
  props: {
    query: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    onMounted(() => {
      getAllMovies().then((res) => {
        state.movies = res
      })
    })
    const state = reactive({
      movies: [],
    })

    const filteredMovie = computed(() => {
      return state.movies.filter((movie) =>
        movie.title.toLowerCase().includes(props.query.toLowerCase())
      )
    })

    return { ...toRefs(state), filteredMovie }
  },
  methods: {
    movieDetail(id) {
      this.$router.push({ path: `/single-movie/${id}` })
      console.log('clicj', id)
    },
  },
}
</script>

<style scoped></style>
