<template>
  <div class="container">
    <div class="movie">
      <div
        class="movie-image movie-image-1"
        :style="{ backgroundImage: `url(${movie.coverWithHttps})` }"
      >
        <icon-base
          class="go-back"
          width="25"
          height="25"
          icon-name="back-arrow"
          icon-color="white"
          @click="goBack"
        >
          <back-arrow />
        </icon-base>
      </div>
      <div class="movie-info">
        <p class="title">{{ movie.title }}</p>
        <div class="actions-more">
          <span>
            <icon-base icon-name="watch-list" icon-color="white"> <watch-list /> </icon-base>
          </span>
          <span>
            <icon-base icon-name="movie-watched" icon-color="white"> <movie-watched /> </icon-base>
          </span>
          <span>
            <icon-base icon-name="like-movie" icon-color="white"> <like-movie /> </icon-base>
          </span>
        </div>
        <div class="movie-text">
          <p>RESUMEN</p>
          <div class="likes">
            <span>Phase: {{ movie.phase }}</span>
            <span>Chronology: {{ movie.chronology }}</span>
          </div>
        </div>
        <div class="summary">
          <p class="text">{{ movie.overview }}</p>
          <p class="saga">Saga: {{ movie.saga }}</p>
        </div>
        <div class="actions">
          <button>
            <icon-base width="18" height="18" icon-name="watch-video" icon-color="red">
              <watch-video />
            </icon-base>
            <span>Watch trailer</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, reactive, toRefs } from 'vue'
import getSingleMovie from '../services/getSingleMovie'
import IconBase from './icons/IconBase.vue'
import BackArrow from './icons/BackArrow.vue'
import WatchVideo from './icons/WatchVideo.vue'
import WatchList from './icons/WatchList.vue'
import MovieWatched from './icons/MovieWatched.vue'
import LikeMovie from './icons/LikeMovie.vue'

export default {
  components: { IconBase, BackArrow, WatchVideo, WatchList, MovieWatched, LikeMovie },
  props: { id: { type: Number, default: undefined } },
  setup(props) {
    console.log('props', props)
    const state = reactive({
      movie: {},
    })

    onMounted(() => {
      getSingleMovie(props.id).then((res) => {
        state.movie = res
      })
    })

    return { ...toRefs(state) }
  },
  methods: {
    goBack() {
      this.$router.push('/')
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: $lengthLg1 0;
}

.go-back {
  margin-top: 5px;
  margin-left: 10px;
}

.movie {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  border-radius: $lengthSm3;
  margin: 0 $lengthMd1 $lengthMd1 $lengthMd1;
  box-shadow: 0 0 20px black;
}

p {
  color: white;
}

.movie-image {
  height: 55%;
  width: 100%;
  position: relative;
  border-radius: $lengthSm3;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, black),
    color-stop(0.35, black),
    color-stop(0.5, black),
    color-stop(0.65, black),
    color-stop(0.85, rgba(0, 0, 0, 0.6)),
    color-stop(1, transparent)
  );
  span {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: $lengthMd3;
    color: white;
  }
}

.movie-info {
  color: $colorGrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.title {
  font-size: $lengthLg1;
}

.genres {
  font-size: $lengthSm3;
  color: $colorText;
  margin-top: -2px;
}

.movie-text {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  p:nth-child(1) {
    font-size: $lengthSm3;
  }
}

.likes {
  color: $colorIcons;
  font-size: $lengthSm3;

  span {
    margin-left: 10px;
  }
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 5px 0;

  .text {
    font-size: 0.7rem;
    color: $colorText;
    margin-bottom: 5px;
  }

  .saga {
    font-size: 0.7rem;
    color: #bbb;
    font-style: italic;
  }
}

.actions {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 3px 8px;
  background: transparent;
  border: 1px solid $colorIcons;
  color: $colorIcons;
  font-size: $lengthSm3;
  letter-spacing: 1px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  span {
    margin-left: 10px;
  }

  :hover i {
    color: #eee;
  }

  :hover {
    color: #eee;
    background-color: $colorIcons;
  }
}

.actions-more {
  margin: 10px 0;
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  font-size: 1.5rem;
}
</style>
