$background: #181f2a;
// $text-color: #E5E5E5;
$colorPrimary: #8739F9;
$colorSecondary: #37B9F1;
$colorIcons: #f44336; 
$colorGrey: #F2F5F5;
$colorText: #565360;
$colorLabel: #908E9B;
$colorDisabled: #E1DFE9;
$lengthSm1: 0.25rem;
$lengthSm2: 0.37rem;
$lengthSm3: 0.8rem;
$lengthMd1: 1rem;
$lengthMd2: 1.25rem;
$lengthMd3: 1.5rem;
$lengthLg1: 2rem;
$lengthLg2: 3rem;
$lengthLg3: 4rem;
